<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Donation Form</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" method="POST" th:action="@{/donation-form}" th:object="${donation}">
        <label>Donor's Name</label>
        <input type="text" th:field="*{name}" required/><br/>
        <label>Type of Donation</label>
        <select th:field="*{type}" required>
            <option value="money">Money</option>
            <option value="food">Food</option>
            <option value="clothing">Clothing</option>
            <option value="other">Other</option>
        </select><br/>
        <label>Quantity or Amount</label>
        <input type="text" th:field="*{quantity}" required/><br/>
        <label>Date of Donation</label>
        <input type="date" th:field="*{date}"/><br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>